/* Splash Page Styling */
.main .splash-class {
  background: url(../images/Triangle.svg) no-repeat center center fixed;
  background-size: contain;
  background-position: center;
  min-height:90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}



.logo {
  display: inline-block;
  float: right !important;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  z-index: 2;
  position: relative;
}

.logo:hover {
  color:grey;
}

/* Navigation Styling */
.navBox {
  margin: 20px;
  z-index: 999;
  /*position: relative;*/
  top: 0;
}

.li {
  list-style: none;
}

.burger {
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: 4px solid #1E392A;
  width: 28px;
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;
}
.burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.burger:before {
  content: "";
  display: block;
  border-bottom: 4px solid #1E392A;
  width: 100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger:after {
  content: "";
  display: block;
  border-bottom: 4px solid #1E392A;
  width: 100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger-check {
  display: none;
}

.burger-check:checked ~ .burger {
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}
.burger-check:checked ~ .burger:before {
  transform: rotate(-405deg) translateY(1px) translateX(-3px);
  -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger-check:checked ~ .burger:after {
  transform: rotate(405deg) translateY(-4px) translateX(-5px);
  -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.navigation {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  width: 100%;
  margin-top: 10px;
  margin-left: -10px;
  max-height: 0;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

.burger-check:checked ~ .navigation {
  max-height: 500px;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

.hidden {
  display: none !important;
}

.aboutNav {
  /*width: 100%;*/
}

.menuLi {
  text-decoration: none;
  color: black;
}

.menuLi:hover {
  color: grey;
  cursor: pointer;
}

button {
  background-color: white;
}

/*Other respective pages styling*/
/*.contact {
  padding-top: 7%;
  text-align: center;
  font-size: 14px;
}*/

.contact1 {
  padding-top: 7%;
  text-align: center;
  font-size: 14px;
}

.aboutButtons {
  margin-top: 10px;
  /*text-align: center;*/
  /*padding-top: 3%;*/
  /*z-index: 1000;*/
}

.whitespace1 {
  margin-top: 95px;
}

.skills {
  /*text-align: center;*/
  /*padding-top: 10%;*/
}

.skills li {
  /*text-align: center;*/
  /*display: inline-block;*/
}

.skillButtons {
  margin-top: 10%;
}

/*.animate-show {
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
    opacity: 1;
}*/
.aboutClick {
  text-align: center;
}

.aboutClick:hover {
  /*cursor: pointer;*/
  /*color: grey;*/
}

.contactClick:hover {
  cursor: pointer;
  color: grey;
}

.liMedia {
  display: inline-block;
  padding: 30px 30px 0 30px;
}

a.contactLi {
  color: black;
}
/*a.contactLi:hover {
  color: grey;
}*/

.projectsIndex {
  /*text-align: center;*/
}

.grid-item:nth-child(3n+1) {
  clear: left;
  margin-left: 0;
}

.grid-item {
  text-align: center;
}

.enter {
  position:inherit;
  z-index:9999;
  top: 45%;
  left: 40%;
  width: 255px;
  color: black;
}

.pjs {
  position: inherit;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particleJs {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.7;
}

.details {
  display: block;
  width: 250px;
}

#contactLeft{
  margin-right: 20px;
}

.contactCenter {
  text-align: center;
}

.message {
  /*float: right;*/
  width: 250px;
  height: 145px;
}

.formContainer {
  margin: 7% 20% 0%;
}



@media only screen and (max-width: 500px) {
    .enter {
      position:inherit;
      z-index:9999;
      top: 50%;
      left: 20%;
      width: 255px;
      color: black;
    }
}
