<div ng-include="'../partials/nav.html'"></div>
<section class="container">
  <section class="whitespace1">
    <div class="about">
      <h4 class="aboutClick">ABOUT</h4>
      <span><p class="aboutClick">Whilst at university I became extremely interested in cryptocurrency, leading me to build a small personal cryptoinvestment portfolio. This sparked an interest and began a journey in which I found I had a desire to better my understanding of coding with a view to building websites and apps. After graduating I did some online courses and eventually decided to enrol in the Web Development Immersive (WDI) course at General Assembly in London. Where I then returned to be a teaching assistant on WDI25. It is my goal is to become a junior developer and part of a team where I can learn and expand my knowledge in such a vast and exciting industry.</p></span>
    </div>


    <div class="">
      <section class="aboutNav u-full-width">
        <button class="aboutButtons six columns" ui-sref="projectsIndex">Portfolio</button>
        <button class="aboutButtons six columns" ui-sref="skills">Skills</button>
      </section>

    </div>
  </section>
</section>
<section class="u-full-width contact">

  <ul class="social">
    <li class="liMedia"><a class="contactLi" href="mailto:williamhilton@tuta.io"><img src="../images/email.png" alt="email" width="30px" height="30px"></a></li>
    <li class="liMedia"><a class="contactLi" href="https://github.com/ruthlessammo"><img src="../images/github.png" alt="github" width="30px" height="30px"></a></li>
    <li class="liMedia"><a class="contactLi" href="https://www.linkedin.com/in/william-hilton"><img src="../images/linkedin.png" alt="linkedin" width="30px" height="30px"></a></li>
  </ul>
</section>
