<div ng-include="'../partials/nav.html'"></div>
<section class="container">
  <section class="skills u-full-width whitespace">
    <h1 class="aboutClick">Skills</h1>
    <div class="aboutClick">
      <ul>
        <li class="li three columns">
          <img width="100px" src="../images/backend-icon.png" alt="backend"><br>
          <strong>Back-end Development</strong> - NodeJS (Express), Ruby (Ruby on Rails, Sinatra)
        </li>
        <li class="li three columns">
          <img width="100px" src="../images/HTML5.png" alt="frontend"><br>
          <strong>Front-end Development</strong> - HTML, CSS (SASS), Javascript, jQuery
        </li>
        <li class="li three columns">
          <img width="100px" src="../images/angular-logo.png" alt="frameworks"><br>
          <strong>Front-end Frameworks</strong> - AngularJS
        </li>
        <li class="li three columns">
          <img width="100px" src="../images/database-logo.png" alt="database"><br>
          <strong>Database Architecture</strong> - MongoDB, PostgreSQL
        </li>
      </ul>
    </div>

    <section class="aboutNav u-full-width">
      <button class="skillButtons six columns grid-item" ui-sref="projectsIndex">Portfolio</button>
      <button class="skillButtons six columns grid-item" ui-sref="about">Contact</button>
    </section>
  </section>
</section>
<!-- <section><br>
<h1>Education</h1>
<div class="u-full-width skills">
<ul>
<li class="li six columns">
<img width="100px" src="../images/ga-logo.png" alt="ga"><br>
General Assembly (WDI Student)
</li>
<li class="li six columns">
<img width="100px" src="../images/st-a.png" alt="stA"><br>
University of St Andrews
</li>
</ul>
</div>
</section> -->
