<section class="u-full-width about whitespace">
  <h4 ng-click="aboutClick()" class="aboutClick">About</h4>
  <span ng-if="aboutShow"><p>Since 2010 I have become more and more interested in cryptocurrency that lead me to building a small personal cryptoinvestment portfolio. This sparked an interest and began a journey in which I found I had a desire to better my understanding of coding with a view to building websites and apps. After graduating I did some online courses and eventually decided to enrol in the Web Development Immersive (WDI) course at General Assembly in London. It is my desire is to become a junior developer and part of a team where I can learn and expand my knowledge in such a vast and exciting industry.</p></span>
</section>


<section class="aboutNav u-full-width">
  <button class="aboutButtons six columns" ui-sref="projectsIndex">Portfolio</button>
  <button class="aboutButtons six columns" ui-sref="skills">Skills</button>
</section>

<section class="u-full-width contact">
  <h4 class="contactClick">Contact details</h4>
  <ul>
    <li class="li">Email: <a href="mailto:williamhilton@tuta.io">williamhilton@tuta.io</a></li>
    <li class="li">Github: <a href="https://github.com/ruthlessammo">https://github.com/ruthlessammo</a></li>
    <li class="li">LinkedIn: <a href="https://www.linkedin.com/in/william-hilton">https://www.linkedin.com/in/william-hilton</a></li>
  </ul>
</section>
