<section class="u-full-width about">
  <h1>About:</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>


<section class="aboutNav u-full-width">
  <button class="aboutButtons five columns" ui-sref="projectsIndex">Portfolio</button>
  <button class="aboutButtons five columns" ui-sref="skills">Skills</button>
</section>

<section class="u-full-width contact">
  <h1>Contact details</h1>
  <ul>
    <li>Email: williamhilton@tuta.io</li>
    <li>Github: https://github.com/ruthlessammo</li>
    <li>LinkedIn: https://www.linkedin.com/in/william-hilton</li>
  </ul>
</section>
