<section class="skills u-full-width">
  <h1>Skills</h1>
  <div>
    <ul>
      <li class="li four columns">
        <img width="100px" src="../images/backend-icon.png" alt="backend"><br>
        <strong>Back-end Development</strong> - Ruby (Ruby on Rails, Sinatra), NodeJS (Express)
      </li>
      <li class="li four columns">
        <img width="100px" src="../images/HTML5.png" alt="frontend"><br>
        <strong>Front-end Development</strong> - HTML, CSS (SASS), Javascript
      </li>
      <li class="li four columns">
        <img width="100px" src="../images/angular-logo.png" alt="frameworks"><br>
        <strong>Front-end Frameworks</strong> - AngularJS, jQuery
      </li>
    </ul>
  </div><br>

  <section class="aboutNav u-full-width">
    <button class="skillButtons six columns" ui-sref="projectsIndex">Portfolio</button>
    <button class="skillButtons six columns" ui-sref="about">Contact</button>
  </section>
</section>

<!-- <section><br>
<h1>Education</h1>
<div class="u-full-width skills">
<ul>
<li class="li six columns">
<img width="100px" src="../images/ga-logo.png" alt="ga"><br>
General Assembly (WDI Student)
</li>
<li class="li six columns">
<img width="100px" src="../images/st-a.png" alt="stA"><br>
University of St Andrews
</li>
</ul>
</div>
</section> -->
