<div class="navBox">
  <input class="burger-check hidden" id="burger-check" type="checkbox" ng-model="main.burgerOpen">
  <label for="burger-check" class="burger"></label>
  <nav class="navigation">
    <ul>
      <li class="li"><a class="menuLi"ui-sref="about">About</a></li>
      <li class="li"><a class="menuLi"ui-sref="skills">Skills</a></li>
      <li class="li"><a class="menuLi"ui-sref="projectsIndex">Portfolio</a></li>
      <li class="li"><a class="menuLi"ui-sref="contact">Contact</a></li>
    </ul>
  </nav>
  <div class="logo" ui-sref="splash">
    <img src="../images/tri5.png" alt="logo" width="13px"> William Hilton's Portfolio
  </div>
</div>
